{% extends "base.html" %}

{% block content %}


<h1 class="mt-5">Lista Książek</h1>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Authors</th>
                <th>Release year</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{% for aut in book.authors %}
                    {{ aut.first_name}} {{ aut.second_name }} <br>
                    {% endfor %}
                </td>
                <td>{{ book.release_year }}</td>
                <td>{{ book.status.first().status_name }}</td>
                <td>
                    <form method="GET" action="{{ url_for('show_book_details') }}">
                        <input type="hidden" name="book_id" value="{{ book.id }}"></input>
                        <input type="submit" value="Book details"></input>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('book_remove') }}">
                        <input type="hidden" name="book_id" value="{{ book.id }}"></input>
                        <input type="submit" value="Delete element"></input>
                    </form>
                </td>
            </tr>
            {% endfor %}

            <form method="POST" action="/add_book">
                <td>{{ form.csrf_token }}</td>
                <td>{{ form.title }}</td>
                <td>{{ form.authors }}</td>
                <td>{{ form.release_year }}</td>
                <td>{{ form.status }}</td>    
                <td><input type="submit" value="Add item"></td>
            </form>
        </tbody>
    </table>
</div>


{% endblock %}